<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260910063215-j74re1sjcba1phuiflhelsirr96rjefm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260910063215-j74re1sjcba1phuiflhelsirr96rjefm</string>
	<key>API_KEY</key>
	<string>AIzaSyADY7KjJS50BJ1W_xSxMJN_mrJS8QrWUlU</string>
	<key>GCM_SENDER_ID</key>
	<string>260910063215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atcampus.azure</string>
	<key>PROJECT_ID</key>
	<string>atcampus-7a83a</string>
	<key>STORAGE_BUCKET</key>
	<string>atcampus-7a83a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260910063215:ios:a152fb7f26b67307</string>
	<key>DATABASE_URL</key>
	<string>https://atcampus-7a83a.firebaseio.com</string>
</dict>
</plist>